body {
    background-image: url(../img/bg.jpg);
}
html {
font-family: 'Caveat', ;
font-family: 'Poiret One', ;
}

h1 {
    font-family: 'Caveat', 'serif';
    color: #ffffff;
}
.heading {
    font-size: 40px;
    text-align: center;
}

.wrap {
margin: auto;
padding: 0px 10%;
}

.section-1 {
margin: auto;
padding: 15px 3%;
background-color: rgba(255, 255, 255, 0.8);
border-radius: 25px;
}
.img1 {
    size: 50%;
}

